<app-header></app-header>
<!--START ABOUT US SECTION -->
<div class="contact-us-content">
    <div class="slider-content">
        <div class="parallax-slide banner-slide" style='background:url("../../assets/img/project-banner20.png")'>
        </div>
        <div class="about_content" data-wow-duration="2s">
            <div class="container">
                <div class="row">
                    <div class="col-12  col-lg-8 offset-lg-2 text-center wow slideInUp"
                        data-wow-duration="2s">
                        <h1 class="heading">Vox Laundry - Giặt Sấy 48 Phố Kẻ Vẽ</h1>
                        <p class="para_text">CAM KẾT :
                            📌100% giặt riêng đồ của từng khách
                            📌Nước giặt - Nước xả an toàn cho sức khỏe: Ariel, Omo, Surf, Comfort, Downy,
                            Hygiene
                            📌Phân loại chất liệu, màu sắc, ký hiệu tem mác đồ giặt theo yêu cầu
                            📌Báo giá trước và sau khi giặt </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_services">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 wow bounceInUp" data-wow-duration="2s">
                        <div class="service-card text-center">
                            <div class="image-holder">
                                <i class="lni-pencil-alt"></i>
                            </div>
                            <h3 class="service-card-heading">CAM KẾT</h3>
                            <p class="service-card-detail">
                                Số lượng không át chất lượng
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 wow bounceInUp" data-wow-duration="2s">
                        <div class="service-card text-center">
                            <div class="image-holder">
                                <i class="lni-cog"></i>
                            </div>
                            <h3 class="service-card-heading">NHẬN GIẶT</h3>
                            <p class="service-card-detail">
                                Quần áo thường, cao cấp, comple, váy, áo da, áo dài...
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 wow bounceInUp" data-wow-duration="2s">
                        <div class="service-card text-center">
                            <div class="image-holder">
                                <i class="lni-code"></i>
                            </div>
                            <h3 class="service-card-heading">Địa chỉ</h3>
                            <p class="service-card-detail">
                                Số 48 Kẻ Vẽ, Đông Ngạc, Bắc Từ Liêm, Hà Nội
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Clients content start-->
        <div id="client-sec" class="client-sec parallax-window cursor-light">
            <div class="client-sec-overlay"></div>
            <div class="clients owl-carousel owl-theme no-gutters">
                <div class="item client-container">
                    <div class="row no-gutters client-img-overlay text-center">
                        <div class="col-10 offset-1 col-lg-6 offset-lg-3 wow zoomIn" data-wow-duration="2s">
                            <span class="client-symbol-qoute"><i
                                    class="fas fa-quote-left text-left"></i></span>
                            <p class="client-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi
                                est, sed ullamcorper nibh volutpat at. In rutrum, metus ut posuere gravida,
                                tellus lacus faucibus lectus, sed cursus eros ligula non odio. Suspendisse
                                volutpat sagittis sapien. Curabitur quis malesuada ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="client-img-holder rounded-circle center-block">
                        <img src="..\..\assets\img\client1.jpg" class="rounded-circle" alt="client1">
                    </div>
                    <div class="client-detail col-12 text-center">
                        <h4 class="client-name">Ellizabeth Taylor</h4>
                        <p class="client-des">Amazon</p>
                    </div>
                </div>
                <div class="item client-container">
                    <div class="row no-gutters client-img-overlay text-center">
                        <div class="col-10 offset-1 col-lg-6 offset-lg-3 wow zoomIn" data-wow-duration="2s">
                            <span class="client-symbol-qoute"><i
                                    class="fas fa-quote-left text-left"></i></span>
                            <p class="client-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi
                                est, sed ullamcorper nibh volutpat at. In rutrum, metus ut posuere gravida,
                                tellus lacus faucibus lectus, sed cursus eros ligula non odio. Suspendisse
                                volutpat sagittis sapien. Curabitur quis malesuada ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="client-img-holder rounded-circle center-block">
                        <img src="..\..\assets\img\client2.png" class="rounded-circle" alt="client1">
                    </div>
                    <div class="client-detail col-12 text-center">
                        <h4 class="client-name">Ellizabeth Taylor</h4>
                        <p class="client-des">Amazon</p>
                    </div>
                </div>
                <div class="item client-container">
                    <div class="row no-gutters client-img-overlay text-center">
                        <div class="col-10 offset-1 col-lg-6 offset-lg-3 wow zoomIn" data-wow-duration="2s">
                            <span class="client-symbol-qoute"><i
                                    class="fas fa-quote-left text-left"></i></span>
                            <p class="client-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi
                                est, sed ullamcorper nibh volutpat at. In rutrum, metus ut posuere gravida,
                                tellus lacus faucibus lectus, sed cursus eros ligula non odio. Suspendisse
                                volutpat sagittis sapien. Curabitur quis malesuada ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="client-img-holder rounded-circle center-block">
                        <img src="..\..\assets\img\client3.png" class="rounded-circle" alt="client1">
                    </div>
                    <div class="client-detail col-12 text-center">
                        <h4 class="client-name">Ellizabeth Taylor</h4>
                        <p class="client-des">Amazon</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Clients content end-->
        <div class="row">
            <div class="col-12 text-center footer_rights pb-5">

            </div>
        </div>
    </div>
</div>
<!--END ABOUT US SECTION -->
<app-slidebar></app-slidebar>

<app-overlay-menu></app-overlay-menu>