<!--**********************************
    Sidebar start
***********************************-->
<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a href="./QLTaiKhoan.html">
                    <i class="icon icon-home-minimal"></i>
                    <span class="nav-text">
                        Quản Lý Tài Khoản
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLNhanVien.html">
                    <i class="icon icon-single-04"></i>
                    <span class="nav-text">
                        Quản Lý Nhân Viên
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLViecLam.html">
                    <i class="icon icon-single-content-03"></i>
                    <span class="nav-text">
                        Quản Lý Việc Làm
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLDonGiat.html">
                    <i class="icon icon-cart-simple"></i>
                    <span class="nav-text">
                        Quản Lý Đơn Giặt
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLThongTinKH.html">
                    <i class="icon icon-app-store"></i>
                    <span class="nav-text">
                        Quản Lý Thông Tin Khách Hàng
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLKho.html">
                    <i class="icon icon-folder-15"></i>
                    <span class="nav-text">
                        Quản Lý Kho
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLKhuyenMai.html">
                    <i class="icon icon-share-66"></i>
                    <span class="nav-text">
                        Quản Lý Khuyến Mãi
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLGiaoDien.html">
                    <i class="icon icon-edit-72"></i>
                    <span class="nav-text">
                        Quản Lý Giao Diện
                    </span>
                </a>
            </li>
            <li>
                <a href="./QLGiatLa.html">
                    <i class="icon icon-attach-87"></i>
                    <span class="nav-text">
                        Quản Lý Giặt Là
                    </span>
                </a>
            </li>
            <li class="nav-label">Extra</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                <ul aria-expanded="false">
                    <li><a href="./page-register.html">Register</a></li>
                    <li><a href="./page-login.html">Login</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="./page-error-400.html">Error 400</a></li>
                            <li><a href="./page-error-403.html">Error 403</a></li>
                            <li><a href="./page-error-404.html">Error 404</a></li>
                            <li><a href="./page-error-500.html">Error 500</a></li>
                            <li><a href="./page-error-503.html">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                </ul>
            </li>
        </ul>
    </div>


</div>
<!--**********************************
    Sidebar end
***********************************-->