
<!--START OVERLAY MENU -->
<div class="side-menu-nav">

    <h1 class="sidenav-bg-text">MEGA ONE</h1>
    <div class="close-side-menu">
        <i class="lni-close cross-sign" id="close-side-menu-nav"></i>
    </div>
    <nav>
        <ul class="side-bar">
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" href="..\index-product.html">Home</a>
            </li>
            <li class="nav-item active main-item">
                <a class="nav-link nav-appear" id="demo1">Blog <i class="fas fa-caret-right forward"></i></a>
                <div class="submenu-overlay">
                    <ul class="d-flex justify-content-lg-center">
                        <li class="nav-item d-flex align-items-center">
                            <a class="sub-menu-nav-appear"><i class="fas fa-arrow-alt-circle-left go-back-btn"></i></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="blog.html">Standard Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="single-blog.html">Single Blog</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" id="demo2">Products <i class="fas fa-caret-right forward"></i></a>
                <div class="submenu-overlay">
                    <ul class="d-flex justify-content-lg-center">
                        <li class="nav-item d-flex align-items-center">
                            <a class="sub-menu-nav-appear"><i class="fas fa-arrow-alt-circle-left go-back-btn"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="product-listing-light.html">Product Listing One</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="product-listing-dark.html">Product Listing Two</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="product-detail.html">Product Detail Version</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="shop-cart.html">Shopping Cart</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" id="demo3">Pages <i class="fas fa-caret-right forward"></i></a>
                <div class="submenu-overlay">
                    <ul class="d-flex justify-content-lg-center">
                        <li class="nav-item d-flex align-items-center">
                            <a class="sub-menu-nav-appear"><i class="fas fa-arrow-alt-circle-left go-back-btn"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="registeration.html">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="faq.html">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-nav-appear" href="404.html">404</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" [routerLink]="['/about-us']">About Us</a>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" href="contact-us.html">Contact Us</a>
            </li>
        </ul>
    </nav>

    <div class="side-footer">
        <ul class="social-icons-simple">
            <li><a href="#." class="facebook_bg_hvr2 wow fadeInUp"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="#." class="twitter_bg_hvr2 wow fadeInDown"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
            <li><a href="#." class="linkdin_bg_hvr2 wow fadeInUp"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
            <li><a href="#." class="instagram_bg_hvr2 wow fadeInDown"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        <p class="whitecolor text-center w-100 wow fadeInDown">&copy; 2019 MegaOne. Made With Love by <a class="web-link" href="http://www.themesindustry.com/" target="_blank">Themesindustry</a></p>
    </div>
</div>
<!-- End Overlay Menu -->
