<div class="items">
    <h1 class="subhead">Cập nhật đơn giặt</h1>
    <form action="#" method="post" novalidate autocomplete="off" class="pure-form pure-form-stacked"
      (ngSubmit)="saveBill()">
      <fieldset>
  
        <label>ID</label>
        <input class="pure-input-1" type="text" id="billID" name="billID" [(ngModel)]="updatedBill.billID">
  
        <label>UserID</label>
        <input class="pure-input-1" type="text" id="userID" name="userID" [(ngModel)]="updatedBill.userID">
  
        <label for="userName">Tên khách hàng</label>
        <input class="pure-input-1" type="text" id="userName" name="userName" [(ngModel)]="updatedBill.userName" disabled>
  
        <label for="billDescription">Ghi chú</label>
        <input class="pure-input-1" type="text" id="billDescription" name="billDescription" [(ngModel)]="updatedBill.billDescription">
  
        <label for="sumWeight">Tổng khối lượng</label>
        <input class="pure-input-1" type="number" id="sumWeight" name="sumWeight" [(ngModel)]="updatedBill.sumWeight" disabled>
  
        <label for="cost">Đơn giá</label>
        <input class="pure-input-1" type="number" id="cost" name="cost" [(ngModel)]="updatedBill.cost" disabled>
  
        <label for="billCreateDate">Ngày tạo</label>
        <input class="pure-input-1" type="datetime" id="billCreateDate" name="billCreateDate" [ngModel]="bill.billCreateDate | date: 'dd/MM/yyyy'" disabled>
  
        <label for="billStatus">Tình trạng</label>
              <select class="pure-input-1" type="" id="billStatus" name="billStatus"
                  [(ngModel)]="updatedBill.billStatus">
                  <option [ngValue]="true">Hoàn thành</option>
                  <option [ngValue]="false">Chưa hoàn thành</option>
              </select>
  
        <label for="billPayDate">Ngày thanh toán</label>
        <input class="pure-input-1" type="datetime" id="billPayDate" name="billPayDate" [ngModel]="bill.billPayDate | date: 'dd/MM/yyyy'" [(ngModel)]="updatedBill.billPayDate" > 
  
        <label for="image">Ảnh</label>
        <input class="pure-input-1" type="text" id="image" name="image" [(ngModel)]="updatedBill.image">
  
        <input type="hidden" name="id" value="1">
        <button type="submit" class="pure-button button-success">Save</button>
      </fieldset>
    </form>
    <h3>Order Details</h3> 
    <a class="pure-button button-secondary" (click)="insertBillDetail()">Add New</a>
    <div *ngIf="billDetail && billDetail.length > 0">
      <table>
        <thead>
          <tr>
            <th>Detail ID</th>
            <th>Kiểu giặt</th>
            <th>Weight</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of billDetail">
            <td>{{ detail.billDetailID }}</td>
            <td>{{ detail.washName }}</td>
            <td>{{ detail.weight }}</td>
            <td>{{ detail.price }}</td>
            <td>{{ detail.billDetailStatus ? 'Chưa xong' : 'Đã xong' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!billDetail || billDetail.length === 0">
      <p>No bill details found.</p>
    </div>
  </div>