<div class="sidebar pure-u-1 pure-u-md-3-24">
    <div id="menu">
        <div class="pure-menu">
            <p class="pure-menu-heading">
                VOX ADMIN
                <a (click)="logout()" class="pure-button button-xxsmall">OUT &raquo;</a>
            </p>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a routerLink="/admin/qltk" class="pure-menu-link">Quản lý tài khoản</a>
                </li>
                <li class="pure-menu-item">
                    <a routerLink="/admin/qlnv" class="pure-menu-link">Quản lý nhân viên</a>
                </li>
                <li class="pure-menu-item">
                    <a routerLink="/admin/qldg" class="pure-menu-link">Quản lý đơn giặt</a>
                </li>
                <li class="pure-menu-item">
                    <a routerLink="/admin/qlttkh" class="pure-menu-link">Quản lý thông tin khách hàng</a>
                </li>
                <li class="pure-menu-item">
                    <a routerLink="/admin/qlk" class="pure-menu-link">Quản lý kho</a>
                </li>
                <li class="pure-menu-item">
                    <a routerLink="/admin/qlkkh"class="pure-menu-link">Quản lý kho khách hàng</a>
                </li>
                <li class="pure-menu-item">
                    <a routerLink="/admin/qlgl" class="pure-menu-link">Quản lý giặt là</a>
                </li>
            </ul>
        </div>
    </div>
</div>