<div class="items">
    <h1 class="subhead">Đơn giặt <a class="pure-button button-small button-secondary" href="#">Add New</a>
    </h1>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ngày tạo đơn</th>
                <th>Trạng thái</th>
                <th>Đơn giá</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @for(bill of bills; track bill.billID){
                <tr>
                    <td>{{ bill.billID }}</td>
                    <td>{{ bill.billCreateDate }}</td>
                    <td>{{ bill.billStatus }}</td>
                    <td>{{ bill.cost }}</td>
                    <td>
                        <a class="pure-button button-small button-secondary" href="#">View</a>
                        <a class="pure-button button-small button-success" (click)="updateBill(bill.billID)">Edit</a>
                        <a class="pure-button button-small button-error" (click)="deleteBill(bill)"
                            onclick="return confirm('Are you sure?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="navigation">
    <div class="pure-button-group">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              @if(currentPage > 0) {
                <li class="page-item">
                  <a class="page-link" (click)="onPageChange(0)">First</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="onPageChange(currentPage - 1)">
                    <i class="fa fa-chevron-left"></i>
                  </a>
                </li>
              }          
              @for(page of visiblePages; track page) {
                <ng-container>
                  <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
                    <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
                  </li>
                </ng-container>
              }          
              @if(currentPage < totalPages - 1)   {
                <li class="page-item">
                  <a class="page-link" (click)="onPageChange(currentPage + 1)">
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </li>
                <li class="page-item" >
                  <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
                </li>
              }          
            </ul>
          </nav>
    </div>
</div>