<div class="side-menu-nav">
    <h1 class="sidenav-bg-text">MEGA ONE</h1>
    <div class="close-side-menu">
        <i class="lni-close cross-sign" id="close-side-menu-nav"></i>
    </div>
    <nav>
        <ul class="side-bar">
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" [routerLink]="['/registeration']">Register</a>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" [routerLink]="['/bill-checkout']">Order</a>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" [routerLink]="['/about-us']">About Us</a>
            </li>
            <li class="nav-item main-item">
                <a class="nav-link nav-appear" href="contact-us.html">Contact Us</a>
            </li>
        </ul>
    </nav>
    <div class="side-footer">
        <ul class="social-icons-simple">
            <li><a href="#." class="facebook_bg_hvr2 wow fadeInUp"><i class="fab fa-facebook-f"
                        aria-hidden="true"></i></a></li>
            <li><a href="#." class="twitter_bg_hvr2 wow fadeInDown"><i class="fab fa-twitter"
                        aria-hidden="true"></i></a> </li>
            <li><a href="#." class="linkdin_bg_hvr2 wow fadeInUp"><i class="fab fa-linkedin-in"
                        aria-hidden="true"></i></a></li>
            <li><a href="#." class="instagram_bg_hvr2 wow fadeInDown"><i class="fab fa-instagram"
                        aria-hidden="true"></i></a></li>
        </ul>
        <p class="whitecolor text-center w-100 wow fadeInDown">&copy; 2019 MegaOne. Made With Love by <a
                class="web-link" href="http://www.themesindustry.com/" target="_blank">Themesindustry</a></p>
    </div>
</div>