

<!--START HEADER NAVBAR-->
<header class="contact-us-header">
    <div class="container container-setting">
        <div class="row justify-content-center about_us_nav">
            <nav class="navbar navbar-expand contact-us-nav navbar-light bg-light">
                <a href="..\index-product.html" class="navbar-brand"> <img src="..\..\assets\img\logo.png" alt="logo"></a>

                <div class="menu-tog d-block d-lg-none" id="sidemenu_toggle1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto header-nav">
                        <li class="nav-item dropdown dmenu d-none d-md-block">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                ENG
                            </a>
                            <div class="dropdown-menu sm-menu">
                                <a class="dropdown-item" href="#"><img src="..\..\assets\img\flags\russia.jpg" alt="Russia">Russia</a>
                                <a class="dropdown-item" href="#"><img src="..\..\assets\img\flags\french.jpg" alt="French">French</a>
                                <a class="dropdown-item" href="#"><img src="..\..\assets\img\flags\spain.jpg" alt="spain">Spanish</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown dmenu d-none d-md-block">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                                USD
                            </a>
                            <div class="dropdown-menu sm-menu">
                                <a class="dropdown-item" href="#"><img src="..\..\assets\img\flags\usd.png" alt="flag_usa">USD</a>
                                <a class="dropdown-item" href="#"><img src="..\..\assets\img\flags\eur.png" alt="flag_eur">EUR</a>
                                <a class="dropdown-item" href="#"><img src="..\..\assets\img\flags\aud.png" alt="flag_cad">CAD</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown dmenu d-none d-md-block">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
                                ACCOUNT
                            </a>
                            <div class="dropdown-menu sm-menu">
                                <a class="dropdown-item" href="login.html">Login</a>
                                <a class="dropdown-item" href="registeration.html">Register</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown cart-item">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <i class="lni-cart"> <span class="badge badge-custom-setting">2</span></i>
                            </a>
                            <div class="dropdown-menu sm-menu mini-cart">
                                <div class="mini-cart-header">
                                    <h4>Shopping Cart</h4>
                                </div>
                                <div class="mini-cart-body">
                                    <div class="inner-card">
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <img src="..\..\assets\img\m1.jpg" class="align-self-center" alt="cartitem">
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name">Shoes</h5>
                                                <p class="category">Adidas Shoes Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <img src="..\..\assets\img\m2.jpg" class="align-self-center" alt="cartitem">
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name">Shoes</h5>
                                                <p class="category">Adidas Shoes Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <img src="..\..\assets\img\m1.jpg" class="align-self-center" alt="cartitem">
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name">Shoes</h5>
                                                <p class="category">Adidas Shoes Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="img-holder ml-1 mr-2">
                                                <img src="..\..\assets\img\m2.jpg" class="align-self-center" alt="cartitem">
                                            </div>
                                            <div class="media-body mt-auto mb-auto">
                                                <h5 class="name">Shoes</h5>
                                                <p class="category">Adidas Shoes Lastest</p>
                                                <p class="price"><span>$20</span>(x1) <a href="#"> <i class="fa fa-trash dustbin"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mini-cart-footer">
                                    <div class="subtotal">
                                        <span class="total-title">Total: </span>
                                        <span class="total-price">
                                            <span class="Price-amount">
                                                $135
                                            </span>
                                        </span>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn view-bag rounded-pill">View Bag</button>
                                        <button type="button" class="btn view-cart  btn-medium btn-gradient rounded-pill">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- END HEADER NAVBAR -->