<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="assets/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="assets/css/lib/jsgrid/jsgrid.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/lib/helper.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="./vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">



</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="./images/logo.png" alt="">
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search"
                                            aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li>
                        <a href="./QLTaiKhoan.html">
                            <i class="icon icon-home-minimal"></i>
                            <span class="nav-text">
                                Quản Lý Tài Khoản
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLNhanVien.html">
                            <i class="icon icon-single-04"></i>
                            <span class="nav-text">
                                Quản Lý Nhân Viên
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLViecLam.html">
                            <i class="icon icon-single-content-03"></i>
                            <span class="nav-text">
                                Quản Lý Việc Làm
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLDonGiat.html">
                            <i class="icon icon-cart-simple"></i>
                            <span class="nav-text">
                                Quản Lý Đơn Giặt
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLThongTinKH.html">
                            <i class="icon icon-app-store"></i>
                            <span class="nav-text">
                                Quản Lý Thông Tin Khách Hàng
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLKho.html">
                            <i class="icon icon-folder-15"></i>
                            <span class="nav-text">
                                Quản Lý Kho
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLKhuyenMai.html">
                            <i class="icon icon-share-66"></i>
                            <span class="nav-text">
                                Quản Lý Khuyến Mãi
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLGiaoDien.html">
                            <i class="icon icon-edit-72"></i>
                            <span class="nav-text">
                                Quản Lý Giao Diện
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="./QLGiatLa.html">
                            <i class="icon icon-attach-87"></i>
                            <span class="nav-text">
                                Quản Lý Giặt Là
                            </span>
                        </a>
                    </li>
                    <li class="nav-label">Extra</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- <div class="container-fluid"> -->
            <div class="content-wrap">
                <div class="main">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8 p-r-0 title-margin-right">
                                <div class="page-header">
                                    <div class="page-title">
                                        <h1>Hello, <span>Welcome Here</span></h1>
                                    </div>
                                </div>
                            </div>
                            <!-- /# column -->
                            <div class="col-lg-4 p-l-0 title-margin-left">
                                <div class="page-header">
                                    <div class="page-title">
                                        <ol class="breadcrumb">
                                            <!-- <li class="breadcrumb-item"><a href="#">Dashboard</a></li> -->
                                            <li class="breadcrumb-item active">Quản lý tài khoản</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- /# column -->
                        </div>
                        <!-- /# row -->
                        <div id="main-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <h3>Danh sách tài khoản</h3>
                                        <hr>
                                        <div class="bootstrap-data-table-panel">
                                            <div class="dataTables_filter">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="table-info">
                                                            <tr>
                                                                <td>
                                                                    ID
                                                                </td>
                                                                <td>
                                                                    Tên tài khoản
                                                                </td>
                                                                <td>
                                                                    Giới tính
                                                                </td>
                                                                <td>
                                                                    Số điện thoại
                                                                </td>
                                                                <td>
                                                                    Địa chỉ
                                                                </td>
                                                                <td>
                                                                    <a href="QLTaiKhoan-Form.html"
                                                                        class="btn btn-rounded btn-secondary">Thêm
                                                                        mới</a>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="product : ${products} ">
                                                                <td th:text="123">123</td>
                                                                <td th:text="123">123</td>
                                                                <td th:text="123">123</td>
                                                                <td th:text="123">123</td>
                                                                <td th:text="123">123</td>
                                                                <td>
                                                                    <a href="QLTaiKhoan-Form.html"
                                                                        class="btn btn-rounded btn-warning">
                                                                        Chỉnh sửa
                                                                    </a>
                                                                    <a href="" class="btn btn-rounded btn-danger"
                                                                        onclick="return confirm('Bạn có chắc chắn xóa không?');">
                                                                        Xóa
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /# card -->
                                </div>
                                <!-- /# column -->
                            </div>
                            <!-- /# row -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->

    <!-- jquery vendor -->
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="assets/js/lib/menubar/sidebar.js"></script>
    <script src="assets/js/lib/preloader/pace.min.js"></script>
    <!-- bootstrap -->

    <script src="assets/js/scripts.js"></script>


    <script src="./vendor/global/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>

    <!-- JS Grid Scripts Start-->
    <script src="assets/js/lib/jsgrid/db.js"></script>
    <script src="assets/js/lib/jsgrid/jsgrid.core.js"></script>
    <script src="assets/js/lib/jsgrid/jsgrid.load-indicator.js"></script>
    <script src="assets/js/lib/jsgrid/jsgrid.load-strategies.js"></script>
    <script src="assets/js/lib/jsgrid/jsgrid.sort-strategies.js"></script>
    <script src="assets/js/lib/jsgrid/jsgrid.field.js"></script>
    <script src="assets/js/lib/jsgrid/fields/jsgrid.field.text.js"></script>
    <script src="assets/js/lib/jsgrid/fields/jsgrid.field.number.js"></script>
    <script src="assets/js/lib/jsgrid/fields/jsgrid.field.select.js"></script>
    <script src="assets/js/lib/jsgrid/fields/jsgrid.field.checkbox.js"></script>
    <script src="assets/js/lib/jsgrid/fields/jsgrid.field.control.js"></script>
    <script src="assets/js/lib/jsgrid/jsgrid-init.js"></script>
    <!-- JS Grid Scripts End-->

    <!-- Vectormap -->
    <script src="./vendor/raphael/raphael.min.js"></script>
    <script src="./vendor/morris/morris.min.js"></script>


    <script src="./vendor/circle-progress/circle-progress.min.js"></script>
    <script src="./vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="./vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="./vendor/flot/jquery.flot.js"></script>
    <script src="./vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="./vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="./vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="./js/dashboard/dashboard-1.js"></script>

</body>

</html>