<div class="items">
    <h1 class="subhead">Thêm đơn giặt</h1>
    <form action="#" method="post" novalidate autocomplete="off" class="pure-form pure-form-stacked"
        (ngSubmit)="insertBill()" enctype="multipart/form-data">
        <fieldset>

            <label>UserID</label>
            <input class="pure-input-1" type="text" id="userID" name="userID" 
                [(ngModel)]="addBillDTO.userID">

            <label>Ghi chú</label>
            <input class="pure-input-1" type="text" id="billDescription" name="billDescription"
                [(ngModel)]="addBillDTO.billDescription">
<!-- 
            <label for="name">Tổng khối lượng</label>
            <input class="pure-input-1" type="number" id="sumWeight" name="sumWeight" 
                [(ngModel)]="addBillDTO.sumWeight">

            <label for="name">Giá</label>
            <input class="pure-input-1" type="number" id="cost" name="cost" 
                [(ngModel)]="addBillDTO.cost"> -->

            <!-- <label for="name">Ngày tạo</label>
            <input class="pure-input-1" type="date" id="billCreateDate" name="billCreateDate"
                [(ngModel)]="insertBillDTO.billCreateDate"> -->

            <!-- <label for="billStatus">Tình trạng</label>
            <select class="pure-input-1"id="billStatus" name="billStatus"
                [(ngModel)]="addBillDTO.billStatus">
                <option [ngValue]="true">Hoàn thành</option>
                <option [ngValue]="false">Chưa hoàn thành</option>
            </select> -->

            <label for="name">Ngày thanh toán</label>
            <input class="pure-input-1" type="date" id="billPayDate" name="billPayDate"
                [(ngModel)]="addBillDTO.billPayDate">

            <div class="form-group mb-3">
                <label for="images">Ảnh</label>
                <input type="file" id="images" name="images" multiple (change)="onFileChange($event)" accept="image/*">
                <input class="pure-input-1" type="text" id="billPayDate" name="billPayDate"
                [(ngModel)]="addBillDTO.image">
            </div>
            <button type="submit" class="pure-button button-success">Lưu</button>
        </fieldset>
    </form>
</div>