<div class="items">
    <h1 class="subhead">Thêm kho khách hàng</h1>
    <form action="#" method="post" novalidate autocomplete="off" class="pure-form pure-form-stacked"
        (ngSubmit)="addCusStorage()" enctype="multipart/form-data">
        <fieldset>
            <label>Vị trí</label>
            <select class="pure-input-1" id="washID" name="washID" [(ngModel)]="insertCusStorage.storageID">
                <!-- Display list of categories -->
              @for(storages of storage; track storages.storageID) {
                <option 
                [value]="storages.storageID">{{ storages.storagePosition }}</option>
              }   
            </select>

            <label>ID của đơn chi tiết</label>
            <input class="pure-input-1" type="text" id="billDescription" name="billDescription"
                [(ngModel)]="insertCusStorage.billDetailID">

            <label for="weight">Ghi chú</label>
            <input class="pure-input-1" type="text" id="weight" name="weight" 
                [(ngModel)]="insertCusStorage.itemDescription">

            <label for="billDetailStatus">Tình trạng</label>
            <select class="pure-input-1" type="" id="billDetailStatus" name="billDetailStatus"
                [(ngModel)]="insertCusStorage.cusStoredStatus">
                <option [ngValue]="true">Hoàn thành</option>
                <option [ngValue]="false">Chưa hoàn thành</option>
            </select>
            <button type="submit" class="pure-button button-success">Lưu</button>
        </fieldset>
    </form>
</div>