<div class="items">
    <h1 class="subhead">Cập nhật đơn giặt</h1>
    <form action="#" method="post" novalidate autocomplete="off" class="pure-form pure-form-stacked"
      (ngSubmit)="saveWash()">
      <fieldset>
  
        <label>ID</label>
        <input class="pure-input-1" type="text" id="billID" name="billID" [(ngModel)]="wash.washID" disabled>
  
        <label>Tên kiểu giặt</label>
        <input class="pure-input-1" type="text" id="userID" name="userID" [(ngModel)]="wash.washName">
  
        <label for="userName">Giá thành</label>
        <input class="pure-input-1" type="text" id="userName" name="userName" [(ngModel)]="wash.washCost">
  
        <label for="billDescription">Ghi chú</label>
        <input class="pure-input-1" type="text" id="billDescription" name="billDescription" [(ngModel)]="wash.washDescription">
  
        <label for="billStatus">Trạng thái</label>
        <select class="pure-input-1" type="" id="billStatus" name="billStatus"
            [(ngModel)]="wash.washAvailability">
            <option [ngValue]="true">Hoạt động</option>
            <option [ngValue]="false">Chưa hoạt động</option>
        </select>
        <label for="cost">Ngày tạo</label>
        <input class="pure-input-1" type="number" id="cost" name="cost" [(ngModel)]="wash.washCreateDate" disabled>

        <input type="hidden" name="id" value="1">
        <button type="submit" class="pure-button button-success">Save</button>
      </fieldset>
    </form>
  </div>